body{
	background-color: black;
	font-family: courier;
	color: white;
	font-size: 12px;
}

input{
	background-color: black;
	color: white;
	font-family: courier;
	border: none;
	outline: none;
	font-size: 12px;
}

#priv_indicator{
	padding-right: 10px;
	float: left;
}